@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(closest-side, #061d47, #000000);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-x {
    display: flex;
    justify-content: space-between;
    width: 190%;
    max-width: 1200px;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    height: 190%;
}



.form-container {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    color: white;
    margin-right: 20px;
    margin-top: 70px;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2841b1;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

.form-container .forgot-password {
    color: #ffffff;
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;
}

.form-container .social-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.form-container .social-login img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 10px solid rgb(255, 255, 255);
}

.template-container {
    background: linear-gradient(to bottom, #2841b1, #424783);
    border-radius: 20px;
    color: white;
    padding: 30px;
    width: 500px;
    position: relative;
    overflow: hidden;
}

.template-container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    height: 65px;
    margin-left: 80%;
    background: #000000;
    border-bottom-left-radius: 25px;
}

.template-container h1 {
    font-size: 24px;
    margin: 0;
}

.template-container h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
}

.template-container blockquote {
    font-size: 14px;
    margin: 20px 0;
}

.template-container .author {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: -12px;
}

.template-container .designation {
    font-size: 12px;
}

.template-container .buttons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    margin-top: 45px;
}

.template-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    background-color: #0a32b4;
    color: #ffffff; 
    font-size: 18px;
    cursor: pointer;
    border: 0;
}

.template-container .button.back {
    background-color: #ffffff;
    cursor: pointer;
    color: #2841b1;
}

.template-container .bottom-container {
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    margin-top: 20%;
}

.template-container .bottom-container::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #18A558;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.template-container .profile-images {
    display: flex;
    margin-left: auto;
    margin-right: 60px;
    width: fit-content;
}

.template-container .profile-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -5px;
}

.template-container #p1 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    font-weight: 300 !important;
}

.template-container #p2 {
    font-size: 15px;
}

.black-box {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #000000;
    bottom: 745px;
    left: 428px;
    z-index: 2;
}

.blue-box {
    position: absolute;
    width: 51px;
    height: 40px;
    border-top-right-radius: 25px;
    background-color: #2941AF;
    bottom: 735px;
    left: 427px;
    z-index: 5;
}

.black-box2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    top: 65px;
    left: 520px;
    z-index: 3;
}

.blue-box2 {
    position: absolute;
    width: 50px;
    height: 51px;
    border-top-right-radius: 25px;
    background-color: #2C42AB;
    top: 65px;
    left: 510px;
    z-index: 4;
}

.one-box {
    position: absolute;
    width: 20px;
    height: 22px;
    border-top-right-radius: 25px;
    background-color: #3D468C;
    top: -2px;
    left: 451px;
    z-index: 4;
}

.two-box {
    position: absolute;
    width: 50px;
    height: 51px;
    border-bottom-left-radius: 25px;
    background-color: #3B4590;
    top: -10px;
    left: 460px;
    z-index: 4;
}

.three-box {
    position: absolute;
    width: 20px;
    height: 32px;
    border-top-right-radius: 10px;
    background-color: white;
    top: 41px;
    left: 480px;
    z-index: 5;   
}

.four-box {
    position: absolute;
    width: 20px;
    height: 22px;
    background-color: #3D468D;
    top: 40px;
    left: 490px;
    z-index: 4;
}

.five-box {
    position: absolute;
    width: 20px;
    height: 30px;
    border-top-right-radius: 10px;
    background-color: white;
    top: 0px;
    left: 441px;
    z-index: 4;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -15px;
    right: -17px;
    z-index: 6;
}

h1 {
    font-size: 2.5em;
    position: relative;
    left: 30px;
    width: 80%;
    height: 5%;
}

h3 {
    margin-top: 30px;
}

#job {
    font-size: 1.25em;
}

#star {
    margin-top: 6px;
}

h4 {
    text-align: right;
}

a {
    color: white;
}

a:visited {
    color: white;
}

h4 {
    font-weight: 300;
}
.overall-black {
    position: absolute;
    width: 100px;
    height: 400px;
    background-color: #000000;
    bottom: 710px;
    left: 480px;
    z-index: 999;
    border-bottom-left-radius: 25px;
    
}
.createaccount input[type="email"],
.createaccount input[type="password"],
.createaccount input[type="text"],
.createaccount select {
    width: 105%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.createaccount input[type="submit"] {
    width: 107%;
    padding: 10px;
    margin: 30px 0;
    background-color: #2841b1;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

.createaccount .forgot-password {
    color: #ffffff;
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;
}

.createaccount {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    color: white;
    margin-right: 20px;
    margin-top: 70px;
}

.createaccount h2 {
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group {
    flex: 1;
    margin-right: 40px;
    /* gap:20px; */
}

.input-group:last-child {
    margin-right: 0;
}
.createh3{
    margin-bottom:-7px;
    margin-top:20px;
}
.createaccount select{
    width: 115% !important;
    height: 35px;
}
.email1{
    width:102% !important;
}
.company1{
    width:102% !important;
}

.forgot input[type="email"],
.forgot input[type="password"],
.forgot input[type="text"],
.forgot select {
    width: 410px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.forgot input[type="submit"] {
    width: 107%;
    padding: 10px;
    margin: 30px 0;
    background-color: #2841b1;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}


.forgot {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    color: white;
    margin-right: 20px;
    margin-top: 70px;
}

.captcha-container {
    display: flex;
    justify-content: center; /* Center CAPTCHA horizontally */
    align-items: center; /* Center CAPTCHA vertically */
    /* margin-top: 20px; */
    position: absolute;
    margin-left:70px;
}